<!DOCTYPE html>
<html>
<head>
  <title>CTO</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <!-- CSS code from Bootply.com editor -->

  <style type="text/css">
      html,body{
          height:100%;
      }

      body{
          padding-top:50px; /*padding for navbar*/
      }


      #main, #main>.row {
          height:100%;
      }

      #left {
          height:100%;
          overflow-y:scroll;
      }

      #map-canvas {
          width:33.3333%;
          height:calc(100% - 0);
          position:absolute;
          right:0;
          top:50px;
          bottom:0;
      }
  </style>

</head>


<body>
     <div class="navbar navbar-default badge-primary navbar-fixed-top">
       <div class="navbar-header"><a class="navbar-brand" href="#">Інформаційна база</a>
         <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
       </div>
       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="#">Home</a></li>
           <li><a href="#">Link</a></li>
           <li><a href="#">More</a></li>
           <li><a href="#">Options</a></li>
         </ul>
       </div>
     </div>

     <div id="map-canvas"></div>

<%= yield %>


<script>
  $(this).showRoutes(false);
</script>

</body>
</html>
